.title{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
a {
    color: white;
}
.navBar {

    border-bottom: 1px solid white;
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.buttonHolder{
    margin: auto;
    display: flex;
    width: 80%;
}
#nextButton {
    width: 80%;
    margin: auto
}
#clearAll{
    width: 80%;
    margin: auto;
}
.button{
    width: 80%;
    margin: auto;
}

.indiv {
    border: 1px solid white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
body {
    width: 80%;
    margin: auto;
    background-color: black;
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    height: 99vh;
}
#weekSummary {
    text-align: center;
    width: 80%;
    margin: auto;
}
#completerowHolder {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 80%;
    margin: auto;
}
div{
    width: 50%;
}
#perWeekHolder {
    width: 80%;
    margin: auto;
    display: flex;
}
#weekSelection{
    width: 100%;
    margin: auto;
}
.btn {
    width: 100%;
    margin: auto;
}
.employeeDataStructure {
    width: 80%;
    margin: auto;
}
.employeeDataStructure td{
    border: 1px solid white;
}
table {
    width: 100%;
}
#reportCollector {
    width: 80%;
    margin: auto;
}
#nextASK {
    text-align: center;
    border-radius: 2%;
    background-color: rgb(240, 234, 234);
    color: black;
    align-content: center;
    height: 20px;
    font-size: 10px;
}
#complaintBox{
    width: 80%;
    margin: auto;
    text-align: center;
}
#returnHome {
    display: flex; 
    width: 80%; 
    text-align: center; 
    align-content: center; 
    border-top: 1px solid white; 
    margin: auto; 
    justify-content: center; 
    position: fixed; 
    bottom: 10px;
}

#exit1:hover {
    transition: all 0.3s ease;
    font-size: 50px;
    font-weight: bolder;
}

#exit2:hover{
    transition: all 0.3s ease;
    font-size: 50px;
    font-weight: bolder;
}
#exit3:hover{
    transition: all 0.3s ease;
    font-size: 50px;
    font-weight: bolder;
}
#exit4:hover{
    transition: all 0.3s ease;
    font-size: 50px;
    font-weight: bolder;
}
#exit5:hover{
    transition: all 0.3s ease;
    font-size: 50px;
    font-weight: bolder;
}
#exit6:hover{
    transition: all 0.3s ease;
    font-size: 50px;
    font-weight: bolder;
}