a {
    color: white;
}
.navBar {

    border-bottom: 1px solid white;
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.buttonHolder{
    display: flex;
}
#nextButton {
    width: 80%;
    margin: auto
}
#clearAll{
    width: 80%;
    margin: auto;
}
.button{
    width: 80%;
    margin: auto;
}

.indiv {
    border: 1px solid white;
    width: 100%;

}
body {
    width: 80%;
    margin: auto;
    background-color: black;
    color: white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    height: 99vh;
}
#weekSummary {
    text-align: center;
}
#completerowHolder {
    display: flex;
    text-align: center;
    width: 100%;
}